<div class="back" ui-sref="site">
    <span>Вернуться</span>
    <i class="glyphicon glyphicon-share-alt"></i>
</div>
<div class="wrapper">
    <div class="trainer-name">{{::trainer.trainer_name}}</div>
    <div class="trainer-img" ng-if="::trainer.trainer_img !== null"><img src="./uploads/{{::trainer.trainer_img}}" class="img-responsive img-rounded" alt="{{::trainer.trainer_name}}"></div>
    <div class="trainer-img" ng-if="::trainer.trainer_img == null"><img src="./images/noimage.png" class="img-responsive img-rounded"></div>
    <div class="trainer-tagline">{{::trainer.trainer_tagline !== null ? trainer.trainer_tagline : 'Я в раздумьях над своим слоганом'}}</div>
    <div class="trainer-achievement">
        <h4>Достижения</h4>
        <p>{{::trainer.trainer_achievements !== null? trainer.trainer_achievements: 'Скоро добавят мои достижения'}}</p>

    </div>
</div>

