<div>
    <h1>Тренеры: редактировать тренера</h1>

    <p>{{ message}}</p>
    <form role="form" name="myForm">
        <div class= "form-group" ng-class="{error: myForm.trainer_name.$invalid}">
            <label> ФИО </label>
            <div>
                <input name="trainer_name" ng-model="trainer.trainer_name" type="text" class= "form-control" placeholder="ФИО" required/>
                <span ng-show="myForm.trainer_name.$dirty && myForm.trainer_name.$invalid" class="help-inline">ФИО обязательны для заполнения</span>
            </div>
        </div>
        <div class= "form-group" ng-class="{error: myForm.trainer_tagline.$invalid}">
            <label> Слоган </label>
            <div>
                <textarea name="trainer_tagline" ng-model="trainer.trainer_tagline"  class= "form-control" placeholder= "Слоган" rows="3" required></textarea>
            </div>
        </div>
        <div class= "form-group" ng-class="{error: myForm.trainer_achievements.$invalid}">
            <label> Достижения </label>
            <div>
                <textarea name="trainer_achievements" ng-model="trainer.trainer_achievements"  class= "form-control" placeholder= "Достижения" rows="6" required></textarea>
            </div>
        </div>
        <p>
            <img data-ng-src="./uploads/{{trainer.trainer_img}}" width="200px">
        </p>

        <input
                type="file"
                name="file"
                ngf-select
                ng-model="file"
                name="file"
                ngf-pattern="'image/*'"
                accept="image/*"
                ngf-max-size="20MB"
        />
        <img style="width:250px;" ngf-thumbnail="file">
        <i ng-show="form.file.$error.required">*required</i><br>
        <i ng-show="form.file.$error.maxSize">File too large</i>
        <p>{{form.progress}}</p>

        <a href="#/trainers/index" class="btn btn-default">Отмена</a>
        <button ng-click="update(trainer);"
                ng-disabled="isClean() || myForm.$invalid"
                type="submit" class="btn btn-default">Выполнить</button>
    </form>

</div>