<div>
    <h1>Баннеры: добавить баннер</h1>
    <p>{{ message}}</p>
    <form role="form" name="myForm">
        <div class= "form-group" ng-class="{error: myForm.trainer_name.$invalid}">
            <label> Название баннера</label>
            <div>
                <input name="name" ng-model="banner.name" type="text" class= "form-control" placeholder="Название баннера" required/>
                <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Название обязательно</span>
            </div>
        </div>
        <p>
            <img data-ng-src="/uploads/{{banner.image_url}}" width="200px">
        </p>

        <input
                type="file"
                name="file"
                ngf-select
                ng-model="file"
                name="file"
                ngf-pattern="'image/*'"
                accept="image/*"
                ngf-max-size="20MB"
        />
        <img style="width:250px;" ngf-thumbnail="file">
        <i ng-show="form.file.$error.required">*required</i><br>
        <i ng-show="form.file.$error.maxSize">File too large</i>
        <p>{{form.progress}}</p>

        <a href="#/banners/index" class="btn btn-default">Отмена</a>
        <button ng-click="updateBanner(banner);"
                ng-disabled="isClean() || myForm.$invalid"
                type="submit" class="btn btn-default">Выполнить</button>
    </form>

</div>