<div>
    <h1>Залы: добавить зал</h1>

    <form role="form" name="myForm">
        <div class= "form-group">
            <label> Название зала </label>
            <div>
                <input name="gym_name" ng-model="gym.gym_name" class= "form-control" placeholder="Введите название зала" required/>
                <span ng-show="myForm.gym_name.$dirty && myForm.gym_name.$invalid" class="help-inline">Название зала обязателено</span>
            </div>
        </div>

        <a href="#/gyms/index" class="btn btn-default">Отмена</a>
        <button ng-click="createGym(gym);"
                ng-disabled="myForm.$invalid"
                type="submit" class="btn btn-default">Выполнить</button>
    </form>
</div>